# Instructions

Your submission will be tested with the code tester. It is important to follow these instructions to ensure your work tests properly.

- Do not change the content of the cells under __SETUP__ and __TESTS__
- Work only in the __YOUR WORK__ area
- Rename the notebook with your group at the end (subsitute XX with your group number).
- Assign the results of each numbered question to the appropriate test variable. For example, the answer of `1.` should be assigned to `test_1`
- Rounding: use the supplied function `hround` to round decimal numbers when instructed. It's important to use this function because there are [multiple ways to round numbers in Python](https://www.knowledgehut.com/blog/programming/python-rounding-numbers) and they may not result in the same value that the tester is testing against.
- Ensure your run the cells under __SETUP__ before you run your work
- Before you submit your work, ensure you clean up your notebook. Your notebook has to run without an error in order to be tested. The easiest way to ensure is to `Kernel->Restart & Run All`
- Answers are provided in along with this notebook in eLC (look a picture named `solution_key`) for your convenience
- You will need to write a program to calculate the answers. Setting the answers to be their correct values without solving them is considered *hardcoding* and will result in zero grade for the assignment as well as a potential academic honesty violation.
- You can also test your submission using [the online code tester](https://notebook-tester.safadi-puzzler.com/)

# SETUP

In [1]:
import pandas as pd
import numpy as np

In [2]:
# DO NOT EDIT OR CHANGE THE CONTENT OF THIS CELL
scenario = 0

In [3]:
def hround(number):
    return round(number, 2 - scenario)

In [4]:
test_1=test_2=test_3=test_4=test_5=test_6=test_7=test_8=test_9=test_10=0.0
test_11=test_12=test_13=test_14=test_15=test_16=test_17=test_18=test_19=test_20=0.0

In this homework, we have data from an accounting system with the following columns:

- `order_id`: A unique identifier for the order. This could be an automatically-generated number or a string.
-  `customer_id`: A reference to the customer who placed the order. This might be a foreign key field that points to a customer table.
- `order_date`: The date and time that the order was placed.
- `total_amount`: The total cost of the order.
- `payment_type`: The method of payment used for the order (e.g. credit card, cash, etc.).
- `shipping_address`: The address to which the order should be shipped.
- `order_status`: The current status of the order (e.g. "pending," "shipped," "delivered," etc.).
- `product_id`: A reference to the product(s) included in the order. This might be a foreign key field that points to a product table.
- `quantity`: The number of units of each product that were ordered.
- `unit_price`: The price of each unit of the product at the time the order was placed.

In [5]:
part1 = pd.read_csv('order.csv').iloc[scenario:]
part1.head()

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789,3,75
1,2,145,1669212963,250,credit card,"595 Main St, Chicago, IL",delivered,456,5,50
2,3,123,1643716090,125,cash,"999 Main St, Denver, CO",pending,123,5,25
3,4,154,1649746198,350,credit card,"794 Main St, Cleveland, OH",delivered,456,7,50
4,5,175,1646029578,525,cash,"478 Main St, Cleveland, OH",shipped,789,7,75

# Part 1

Focusing on the data frame `part1`

1. report the number rows
2. report the number of columns
3. what is the total number of values in the data frame?
4. select the first five rows (return a data frame)
5. select the last five rows (return a data frame)
6. select every other 10th row (return a data frame)
7. create a new column `total` by multiplying `unit_price` with `quantity`. show the first five rows of `total` (return a series).
8. check if each value of `total` equals the corresponding value of `total_amount` (return a `bool`)
9. how many orders  were delivered?
10. what is the most popular payment type?
11. What is the most expensive order (highest total)? return a series representing the order row from the data frame.
12. report the customer ids that end with `0`. Return a sorted list.
13. Who requested the order with the largest quantity, return the customer id.
14. How many distinct shipping addresses are there in the table?
15. Who ordered most quatity of product 456 (total quantity in all orders). Report the customer id.

In [6]:
part2 = pd.read_csv('order_corrupt.csv')
part2.head()

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789,3,75
1,2,145,1669212963,250,credit card,"595 Main St, Chicago, IL",delivered,456,5,50
2,3,123,1643716090,125,cash,"999 Main St, Denver, CO",pending,l23,5,25
3,4,154,1649746198,350,credit card,"794 Main St, Cleveland, OH",delivered,456,7,50
4,5,175,1646029578,525,cash,"478 Main St, Cleveland, OH",shipped,789,7,75

# Part 2

Focusing on the data frame `part2`. 

The file `order_corrupt.csv` was obtained by running OCR on a scanned image.
The OCR had issues in some entries mistaking number `1` with letter `l`.
As a result, some numerical entries in the file are corrupt.

16. What is the `dtypes` of `part2`?
17. Replace the corrupt numbers with `na`. Show the first six rows.
18. What are the `dtypes` now?
19. How many rows are corrupt?
20. Drop the corrupt rows. Show the first five rows in the resulting data frame.

# YOUR WORK

## Part 1

In [7]:
# 1. count number of rows
test_1 = len(part1)

In [8]:
# 2. count the number of columns
test_2 = len(part1.columns)

In [9]:
# 3. total number of values in dataframe
test_3 = part1.count().sum()

In [10]:
# 4. select first five rows
test_4 = part1.head()

In [11]:
# 5. select last five rows
test_5 = part1.tail()

In [12]:
# 6. select every other 10th row
test_6 = part1[::10]

In [13]:
# 7. create a new column total by multiplying unit_price with quantity. show the first five rows of total in a series
part1['total'] = part1['quantity'] * part1['unit_price']
test_7 = part1['total'].head()

In [14]:
# 8. check if each value of total equals the corresponding value of total_amount as a boolean
test_8 = part1['total'].equals(part1['total_amount'])

In [15]:
# 9. how many orders were delivered
test_9 = sum(part1['order_status'] == 'delivered')

In [16]:
# 10. what is the most popular payment type?
test_10 = part1['payment_type'].value_counts().idxmax()

In [17]:
# 11. What is the most expensive order (highest total)? return a series representing the order row from the data frame.
test_11 = part1.loc[part1['total_amount'].idxmax()]

In [18]:
# 12. report the customer ids that end with 0. Return a sorted list
test_12 = sorted([id for id in part1['customer_id'] if id%10 == 0])

In [19]:
# 13. Who requested the order with the largest quantity, return the customer id
test_13 = part1.loc[part1['quantity'].idxmax()]['customer_id']

In [20]:
# 14. How many distinct shipping addresses are there in the table?
test_14 = len(set(part1['shipping_address']))

In [21]:
# 15. Who ordered most quantity of product 456 (total quantity in all orders). Report the customer id.
test_15 = part1[part1['product_id'] == 456].groupby(['customer_id', 'product_id'])['quantity'].aggregate('sum').idxmax()[0]

## Part 2

In [22]:
# 16. What is the dtypes of part2?
test_16 = part2.dtypes

In [23]:
# 17. Replace the corrupt numbers with na. Show the first six rows.
cols = ['product_id', 'quantity', 'unit_price']
part2[cols] = part2[cols].apply(pd.to_numeric, errors='coerce', axis=1)
test_17 = part2.head(6)

In [24]:
# 18. What are the dtypes now?
test_18 = part2.dtypes

In [25]:
# 19. How many rows are corrupt?
test_19 = part2.isna().sum().sum()

In [26]:
# 20. Drop the corrupt rows. Show the first five rows in the resulting data frame.
part2.dropna(inplace = True)
test_20 = part2.head()

# TESTS

In [27]:
### TEST 1
test_1

100

In [28]:
## TEST 2
test_2

10

In [29]:
## TEST 3
test_3

1000

In [30]:
## TEST 4
test_4

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789,3,75
1,2,145,1669212963,250,credit card,"595 Main St, Chicago, IL",delivered,456,5,50
2,3,123,1643716090,125,cash,"999 Main St, Denver, CO",pending,123,5,25
3,4,154,1649746198,350,credit card,"794 Main St, Cleveland, OH",delivered,456,7,50
4,5,175,1646029578,525,cash,"478 Main St, Cleveland, OH",shipped,789,7,75

In [31]:
## TEST 5
test_5

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
95,96,161,1672897041,100,cash,"194 Main St, Detroit, MI",shipped,321,1,100
96,97,177,1646495462,100,credit card,"265 Main St, Detroit, MI",delivered,456,2,50
97,98,177,1646741606,100,cash,"334 Main St, Baltimore, MD",delivered,123,4,25
98,99,181,1643865074,100,credit card,"997 Main St, Baltimore, MD",pending,321,1,100
99,100,194,1656344283,625,credit card,"147 Main St, Boston, MA",delivered,654,5,125

In [32]:
## TEST 6
test_6

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789,3,75
10,11,149,1649539916,900,bank transfer,"418 Main St, Chicago, IL",delivered,321,9,100
20,21,187,1642976445,600,bank transfer,"854 Main St, Boston, MA",pending,789,8,75
30,31,200,1658023586,200,cash,"249 Main St, Baltimore, MD",pending,456,4,50
40,41,197,1656880145,100,credit card,"947 Main St, Detroit, MI",delivered,321,1,100
50,51,170,1648206641,125,cash,"673 Main St, Cleveland, OH",pending,123,5,25
60,61,151,1671854130,225,cash,"836 Main St, Atlanta, GA",pending,789,3,75
70,71,127,1672333405,375,cash,"790 Main St, Atlanta, GA",delivered,654,3,125
80,81,154,1644935891,225,bank transfer,"183 Main St, Detroit, MI",delivered,789,3,75
90,91,111,1673044712,75,cash,"404 Main St, Boston, MA",shipped,789,1,75

In [33]:
## TEST 7
test_7

0    225
1    250
2    125
3    350
4    525
Name: total, dtype: int64

In [34]:
## TEST 8
test_8

False

In [35]:
## TEST 9
test_9

34

In [36]:
## TEST 10
test_10

'cash'

In [37]:
## TEST 11
test_11

order_id                                  78
customer_id                              129
order_date                        1649410838
total_amount                            1250
payment_type                     credit card
shipping_address    741 Main St, Atlanta, GA
order_status                         pending
product_id                               654
quantity                                  10
unit_price                               125
total                                   1250
Name: 77, dtype: object

In [38]:
## TEST 12
test_12

[100, 120, 130, 160, 170, 180, 200]

In [39]:
## TEST 13
test_13

136

In [40]:
## TEST 14
test_14

99

In [41]:
## TEST 15
test_15

147

In [42]:
## TEST 16
test_16

order_id             int64
customer_id          int64
order_date           int64
total_amount         int64
payment_type        object
shipping_address    object
order_status        object
product_id          object
quantity            object
unit_price          object
dtype: object

In [43]:
## TEST 17
test_17

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789.0,3.0,75.0
1,2,145,1669212963,250,credit card,"595 Main St, Chicago, IL",delivered,456.0,5.0,50.0
2,3,123,1643716090,125,cash,"999 Main St, Denver, CO",pending,NaN,5.0,25.0
3,4,154,1649746198,350,credit card,"794 Main St, Cleveland, OH",delivered,456.0,7.0,50.0
4,5,175,1646029578,525,cash,"478 Main St, Cleveland, OH",shipped,789.0,7.0,75.0
5,6,115,1670881753,450,credit card,"363 Main St, Detroit, MI",delivered,789.0,6.0,75.0

In [44]:
## TEST 18
test_18

order_id              int64
customer_id           int64
order_date            int64
total_amount          int64
payment_type         object
shipping_address     object
order_status         object
product_id          float64
quantity            float64
unit_price          float64
dtype: object

In [45]:
## TEST 19
test_19

3

In [46]:
## TEST 20
test_20

,order_id,customer_id,order_date,total_amount,payment_type,shipping_address,order_status,product_id,quantity,unit_price
0,1,121,1652196488,225,credit card,"937 Main St, Cleveland, OH",pending,789.0,3.0,75.0
1,2,145,1669212963,250,credit card,"595 Main St, Chicago, IL",delivered,456.0,5.0,50.0
3,4,154,1649746198,350,credit card,"794 Main St, Cleveland, OH",delivered,456.0,7.0,50.0
4,5,175,1646029578,525,cash,"478 Main St, Cleveland, OH",shipped,789.0,7.0,75.0
5,6,115,1670881753,450,credit card,"363 Main St, Detroit, MI",delivered,789.0,6.0,75.0